<div class="grid">

    {{!-- <!-- title for the page --> --}}
    <h1 class="title">Welcome!</h1>
    <h4 class="subtitle text-center">Enter all of the activities completed in a day, in 20-minutes increments</h4>

    {{!-- <!-- questions --> --}}
    <div class="grid-item activities">
        <form>
            {{!-- Date Selection --}}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="dateSelection">Date:</label>
                    <select id="dateSelection" class="form-control">
                        <option id="today-6"></option>
                        <option id="today-5"></option>
                        <option id="today-4"></option>
                        <option id="today-3"></option>
                        <option id="today-2"></option>
                        <option id="today-1"></option>
                        <option selected value="" id="today"></option>
                    </select>
                </div>
            </div>
            {{!-- Activity Selection --}}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="activity">Activity</label>
                    <select id="activity" class="form-control">
                        <option value="0">Please select one...</option>
                        <option value="eat">Eat</option>
                        <option value="leisure">Leisure</option>
                        <option value="school">School</option>
                        <option value="sleep">Sleep</option>
                        <option value="work">Work</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            {{!-- Activity Description --}}
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control" id="inputDescription">
            </div>
            {{!-- Time Selection --}}
            <div class="form-row">
                <div class="form-group col-md-6 pr-3">
                    <label for="inputStart">Start Time</label>
                    <div class="form-group form-row pl-1" id="inputStart">
                        <select id="startHour" class="col-md-4 form-control">
                            <option value="none">Hour</option>
                            <option value="100">1</option>
                            <option value="200">2</option>
                            <option value="300">3</option>
                            <option value="400">4</option>
                            <option value="500">5</option>
                            <option value="600">6</option>
                            <option value="700">7</option>
                            <option value="800">8</option>
                            <option value="900">9</option>
                            <option value="1000">10</option>
                            <option value="1100">11</option>
                            <option value="1200">12</option>
                        </select>
                        <select id="startMinute" class="col-md-4 form-control mx-2">
                            <option value="none">Min.</option>
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                        </select>
                        <select id="startTime" class="col-md-3 form-control">
                            <option value="0000">AM</option>
                            <option value="1200">PM</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 pl-3">
                    <label for="inputEnd">End Time</label>
                    <div class="form-group form-row pl-1" id="inputEnd">
                        <select id="endHour" class="col-md-4 form-control">
                            <option value="none">Hour</option>
                            <option value="100">1</option>
                            <option value="200">2</option>
                            <option value="300">3</option>
                            <option value="400">4</option>
                            <option value="500">5</option>
                            <option value="600">6</option>
                            <option value="700">7</option>
                            <option value="800">8</option>
                            <option value="900">9</option>
                            <option value="1000">10</option>
                            <option value="1100">11</option>
                            <option value="1200">12</option>

                        </select>
                        <select id="endMinute" class="col-md-4 form-control mx-2">
                            <option value="none">Min.</option>
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                        </select>
                        <select id="endTime" class="col-md-3 form-control">
                            <option value="0000">AM</option>
                            <option value="1200">PM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="buttons">
                <button type="submit" class="btn mr-1" id="saveBtn">Save</button>
                <button type="submit" class="btn" id="goToChartsBtn">See All Saved Activities</button>
            </div>


        </form>
    </div>
    {{!-- <!-- calendar on the right --> --}}
    <div class="overflow-auto mt-4" id="calendar">
        {{!-- <!-- times --> --}}
        {{#with fullDate}}
        <p class="grid-item" id="calendarDate">{{date}}</p>
        {{/with}}
        <div class="grid-item time" style="grid-area: time0000">12 am</div>
        <div class="grid-item time" style="grid-area: time0100">1 am</div>
        <div class="grid-item time" style="grid-area: time0200">2 am</div>
        <div class="grid-item time" style="grid-area: time0300">3 am</div>
        <div class="grid-item time" style="grid-area: time0400">4 am</div>
        <div class="grid-item time" style="grid-area: time0500">5 am</div>
        <div class="grid-item time" style="grid-area: time0600">6 am</div>
        <div class="grid-item time" style="grid-area: time0700">7 am</div>
        <div class="grid-item time" style="grid-area: time0800">8 am</div>
        <div class="grid-item time" style="grid-area: time0900">9 am</div>
        <div class="grid-item time" style="grid-area: time1000">10 am</div>
        <div class="grid-item time" style="grid-area: time1100">11 am</div>
        <div class="grid-item time" style="grid-area: time1200">12 pm</div>
        <div class="grid-item time" style="grid-area: time1300">1 pm</div>
        <div class="grid-item time" style="grid-area: time1400">2 pm</div>
        <div class="grid-item time" style="grid-area: time1500">3 pm</div>
        <div class="grid-item time" style="grid-area: time1600">4 pm</div>
        <div class="grid-item time" style="grid-area: time1700">5 pm</div>
        <div class="grid-item time" style="grid-area: time1800">6 pm</div>
        <div class="grid-item time" style="grid-area: time1900">7 pm</div>
        <div class="grid-item time" style="grid-area: time2000">8 pm</div>
        <div class="grid-item time" style="grid-area: time2100">9 pm</div>
        <div class="grid-item time" style="grid-area: time2200">10 pm</div>
        <div class="grid-item time" style="grid-area: time2300">11 pm</div>
        {{#each activities}}
        <div class="{{activity}}" style="grid-row: slot{{startTime}} / span {{totalTime}}" data-toggle="popover"
            title="{{activity}} - {{description}}" data-html="true" data-content="Time: {{startDisplay}} - {{endDisplay}}" data-trigger="hover"></div>
        {{/each}}
    </div>

    <div class="colors text-center">
        <h6 class="mb-3">Make sure your activities do not overlap with previously saved activities.</h6>
        <div class="mt-3">
            <h6 class="color-footer d-inline eat py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">Eat</h6>
            <h6 class="color-footer d-inline leisure py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">Leisure</h6>
            <h6 class="color-footer d-inline school py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">School</h6>
            <h6 class="color-footer d-inline sleep py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">Sleep</h6>
            <h6 class="color-footer d-inline work py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">Work</h6>
            <h6 class="color-footer d-inline other py-1 px-3 border border-right-0 border-light rounded-left"></h6>
            <h6 class="color-footer d-inline py-1 px-2 mr-2 border rounded-right border-light">Other</h6>
        </div>
    </div>

    <div id="footer-btn" class="mr-3 mt-3">
        <button type="submit" class="btn float-right redirectBtn" id="home-btn"><i
                class="fas fa-home"></i></button>
    </div>
</div>

{{!-- Warning Modal  --}}
<div class="modal fade" id="modalWarning" tabindex="-1" role="dialog" aria-labelledby="form-error-warning"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger font-weight-bold" id="warningTitle"></h5>
            </div>
            <div class="modal-body">
                <h6 id="warningMessage" class="text-dark text-center"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="/js/dashboard.js"></script>